.App {
  text-align: center;

  height: 100%;
}

.header {
  background-color: gray;
  height: 10%;
  padding: 5%;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Footer-Main {
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
}
